<nav class="navbar navbar-sidebar scrollbar">
  <div class="section title">
    Metrics
    <div class="spinner spinner-inverse spinner-sm" *ngIf="loading"></div>
  </div>
  <div class="alert alert-info alert-dismissable" *ngIf="showGrafanaAlert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="showGrafanaAlert=false">
      <span class="pficon pficon-close"></span>
    </button>
    <span class="pficon pficon-info"></span>
    <strong>Intended for test and debug!</strong> For more capable dashboards display we suggest that you take a look at our
    <a href="http://www.hawkular.org/hawkular-clients/grafana/docs/quickstart-guide/" class="alert-link">Hawkular Grafana datasource</a>
    or the <a href="https://github.com/pilhuhn/hawkfx" class="alert-link">HawkFX client</a>.
  </div>
  <div class="section">
    Tenant
    <input type="text" [(ngModel)]="tenant" (ngModelChange)="onTenantChanged($event)"/>
  </div>
  <div class="section">
    {{message}}
    <ul>
      <li *ngFor="let metric of metrics">
        <a [routerLink]="['/metrics', { outlets: {'chart': [tenant, metric.type, metric.id] }}]"
            role="button" title="{{metric.id}}">
          {{metric.id}}
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet name="chart"></router-outlet>
</div>
