<div class="chart">
  <h1>{{title}}</h1>
  <div class="spinner" *ngIf="loading"></div>
  <p *ngIf="hawkularConfig.tenant !== undefined && types !== undefined">
    Tenant: {{hawkularConfig.tenant}}<br/>
    Metric type: {{types}}
  </p>
  <div class="alert alert-warning" *ngIf="warning">
    <span class="pficon pficon-warning-triangle-o"></span>
    {{warning}}
  </div>
  <div class="alert alert-warning" *ngIf="stringMetrics.length > 0">
    <span class="pficon pficon-warning-triangle-o"></span>
    String metrics cannot be displayed at this time
  </div>
  <div class="alert alert-info" *ngIf="notice">
    <span class="pficon pficon-info"></span>
    {{notice}}
  </div>
  <div class="row toolbar-pf">
    <div class="col-sm-12">
      <form class="toolbar-pf-actions">
        <div class="form-group form-inline">
          <label class="control-label" for="timerange">Time range</label>
          <select id="timerange" class="form-control" [(ngModel)]="timeframe" (ngModelChange)="onTimeFrameChanged($event)" [ngModelOptions]="{standalone: true}">
            <option value='5m'>Last 5 minutes</option>
            <option value='15m'>Last 15 minutes</option>
            <option value='30m'>Last 30 minutes</option>
            <option value='1h'>Last hour</option>
            <option value='6h'>Last 6 hours</option>
            <option value='1d'>Last 24 hours</option>
            <option value='2d'>Last 2 days</option>
            <option value='7d'>Last week</option>
            <option value='30d'>Last month</option>
            <option value='custom' disabled=true>Custom</option>
          </select>
        </div>
        <div class="form-group form-inline">
          <label class="control-label" for="refresh">Refresh rate</label>
          <select id="refresh" class="form-control" [(ngModel)]="refreshRate" [ngModelOptions]="{standalone: true}">
            <option value='5'>5 seconds</option>
            <option value='10'>10 seconds</option>
            <option value='30'>30 seconds</option>
            <option value='60'>1 minute</option>
            <option value='0'>Never</option>
          </select>
        </div>
        <div class="form-group form-inline">
          <label class="control-label" for="buckets">Buckets</label>
          <select id="buckets" class="form-control" [(ngModel)]="buckets" [ngModelOptions]="{standalone: true}">
            <option value='0'>None (raw data)</option>
            <option value='10'>10</option>
            <option value='30'>30</option>
            <option value='50'>50</option>
            <option value='100'>100</option>
            <option value='500'>500</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="chart-container">
    <hk-metric-chart-dyn *ngIf="numericMetrics.length > 0"
      [metricUrl]="metricsURL"
      [authHeader]="authHeader"
      [metricIds]="numericMetrics"
      [metricTenantId]="hawkularConfig.tenant"
      chartType="line"
      [timeRange]="timeRange"
      (timeRangeChange)="childTimeRangeChange($event)"
      [buckets]="buckets"
      [refreshIntervalInSeconds]="refreshRate"
      yAxisTickFormat="s">
    </hk-metric-chart-dyn>
    <hk-availability-chart *ngIf="availMetrics.length === 1"
      [metricUrl]="metricsURL"
      [authHeader]="authHeader"
      [metricId]="availMetrics[0].name"
      [metricTenantId]="hawkularConfig.tenant"
      [timeRange]="timeRange"
      (timeRangeChange)="childTimeRangeChange($event)"
      [refreshIntervalInSeconds]="refreshRate">
    </hk-availability-chart>
  </div>
</div>
